appdirs
attrs
autopep8
certifi
chardet
entrypoints
filelock
flake8
future
idna
importlib-metadata
isort
jedi
mccabe
more-itertools
packaging
parso
pluggy
py
pycodestyle
pyflakes
pyparsing
pytest
python-jsonrpc-server
python-language-server
requests
six
urllib3
virtualenv
wcwidth
zipp
